<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- classpath:前缀加路径的方式从classpath加载文件，classpath*:的出现是为了从多个jar文件中加载相同的文件 -->
	<!-- 若要注入的BEAN不在同一个配置文件中，则必须将两个配置文件放在同一个ConfigSet中，项目右键属性 -->
	<import resource="classpath:spring/spring-common.xml" />
	<import resource="classpath:spring/spring-mybatis.xml" />
	<import resource="classpath:spring/spring-shiro.xml" />
	<import resource="classpath:spring/spring-cache.xml" />
</beans>
